@import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    line-height: 0;
}
