::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

* {
    scrollbar-color: #E4E8EE transparent;
    scrollbar-width: thin;
}

*:hover {
    scrollbar-color: #798EA8 transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #E4E8EE;
    border-radius: 20px;
    cursor: pointer;
    min-height: 40px;
    min-width: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #798EA8;
}

::-webkit-scrollbar-track {}
