.loader,
.loader:after {
    border-radius: 50%;
}
.loader {
    position: relative;
    transform: translateZ(0);
    animation: load 1.1s infinite linear;
}
@-webkit-keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
